/* Projects.css */

.projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh; /* Ensure it takes the full height of the viewport */
  padding: 20px;
  text-align: center;
}

.projects-header {
  font-size: 2rem;
  margin-bottom: 20px;
  font-family: "King Kofi", sans-serif;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  width: 100%;
  max-width: 1200px; /* Center within a max-width container */
}
